@model IEnumerable<ElectronicRX2._1.Models.ClinicianModel>

@{
    var db = new ElectronicRX2._1.DataAccess.PrescriptionService();
    
 }


<table class="table table-striped table-bordered table-condensed">
    <tr>
        <th>
            Clinician ID
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th>
            Email
        </th>
        <th>
            Date of Birth
        </th>
        <th>
            Mobile Number
        </th>
        <th>
            Clinic Name
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicianID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.Label(item.DOB.Day.ToString() + "-" + item.DOB.Month.ToString() + "-" + item.DOB.Year.ToString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNumber)
            </td>
            <td>
                @Html.Label(db.clinics.Get(item.ClinicID).ClinicName.ToString())
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }

</table>



